<section id="pokedex">
  <div class="title-container">
    <h2 class="title">Pokédex</h2>
  </div>

  <div class="pokemons-length">
    <img src="../../../assets/img/pokeball.png" alt="Pokeball" />

    <span id="pokedexListLength">{{ ListaPokemon.length }}</span>
  </div>
  <br>
  <br>
<!-- inicia card -->

<div class="card-container" id="cardContainer">
  <div class="card" *ngFor="let item of ListaPokemon">
    <div class="imgBx">
      <img src="{{ item.imagen_png1}}" alt="pokemon" />
    </div>
    <div class="content">
      <div class="details">
        <h2>
          {{ item.nombre }} <br />
        </h2>
        

        <div class="data">
          <h3>
            Altura<br /><span>{{ item.altura }}</span>
          </h3>
          <h3>
            Ancho<br /><span>{{ item.anchura }}</span>
          </h3>
        </div>

        <div
          class="actionBtn"
          data-toggle="modal"
          data-target="#ModalPokemon"
        >
          <button>Info</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- finaliza card -->



<!-- modal -->
<div
  class="modal fade"
  id="ModalPokemon"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pokemon.</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- <div class="col-8 col-sm-6">Level 2: .col-8 .col-sm-6</div>
          <div class="col-4 col-sm-6">Level 2: .col-4 .col-sm-6</div> -->
          <main class="container main-pokemon">
            <div class="header-main-pokemon">
              <span class="number-pokemon">#1</span>
              <div class="container-img-pokemon">
                <img
                  src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
                  alt="pokemon bulbasaur"
                />
              </div>

            </div>

            <div class="container-stats">
              <h1>Estadísticas</h1>
              <div class="stats">
                <div class="stat-group">
                  <span>Hp</span>
                  <div class="progress-bar"></div>
                  <span class="counter-stat">45</span>
                </div>

              </div>
            </div>
          </main>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
