
<section id="pokedex">
  <div class="title-container">
    <h2 class="title">Pokédex</h2>
  </div>

  <div class="pokemons-length">
    <img src="../../../assets/img/pokeball.png" alt="Pokeball" />

    <span id="pokedexListLength">Total De Pokemons {{ ListaPokemon.length }}</span>
  </div>
  <br>
  <br>
 
  
<!-- inicia card -->

<div  class="card-container" id="cardContainer"  >
  <div class="card" *ngFor="let item of ListaPokemon">
    <div class="imgBx">
      <img src="{{ item.imagen_png1}}" alt="pokemon" />
    </div>
    <div class="content">
      <div class="details">
        <h2>
          {{item.nombre}} <br />
        </h2>
        

        <div class="data">
          <h3>
            Altura<br /><span>{{item.altura}}</span>
          </h3>
          <h3>
            Ancho<br /><span>{{ item.anchura }}</span>
          </h3>
        </div>

        <div
          class="actionBtn"
         
        >
          <button (click)="verpokemon(item)" data-toggle="modal"
          data-target="#ModalPokemon">Info</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- finaliza card -->



<!-- modal -->
<div
  class="modal fade"
  id="ModalPokemon"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{pokemonSeleccionado.nombre}}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- <div class="col-8 col-sm-6">Level 2: .col-8 .col-sm-6</div>
          <div class="col-4 col-sm-6">Level 2: .col-4 .col-sm-6</div> -->
          <main class="container row">
            <div class="col-md-5 imgPokemonT">
              <h2>#{{pokemonSeleccionado.id}}</h2>
              <div class="container-img-pokemon">
                <img
                  src="{{pokemonSeleccionado.imagen_png1}}"
                 
                />
              </div>

            </div>

            <div class="col-md-6 modalText">
              <div class="row">
            <h2>Estadísticas</h2>
             <!--  Estadísticas-->
              <ul class="goal-progress ">
                <li>
                  <div class="details">
                    <div class="title">
                      <h2>hr: <span>{{ pokemonSeleccionado.estatisticas[0]}}</span>%</h2>
                    </div>
                    <div class="progress">
                      <div
                        class="progress-bar "
                        role="progressbar"
                        [style.width.%]="pokemonSeleccionado.estatisticas[0]"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <div class="title">
                      <h2>Ataque: <span>{{ pokemonSeleccionado.estatisticas[1] }}</span>%</h2>
                    </div>
                    <div class="progress">
                      <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        [style.width.%]="pokemonSeleccionado.estatisticas[1]"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                   
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <div class="title">
                      <h2>Defensa: <span>{{ pokemonSeleccionado.estatisticas[2] }}</span>% </h2>
                    </div>
                    <div class="progress">
                      <div
                        class="progress-bar bg-danger"
                        role="progressbar"
                        [style.width.%]="pokemonSeleccionado.estatisticas[2]"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <div class="title">
                      <h2>Ataque++: <span>{{ pokemonSeleccionado.estatisticas[3]}}</span>%</h2>
                    </div>
                    <div class="progress">
                      <div
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="pokemonSeleccionado.estatisticas[3]"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                   
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <div class="title">
                      <h2>Defensa++ : <span>{{ pokemonSeleccionado.estatisticas[4] }}</span>%</h2>
                    </div>
                    <div class="progress">
                      <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        [style.width.%]="pokemonSeleccionado.estatisticas[4]"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                     
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <div class="title">
                      <h2>Velocidad: <span>{{ pokemonSeleccionado.estatisticas[5] }}</span>%</h2>
                    </div>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        [style.width.%]="pokemonSeleccionado.estatisticas[5]"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                      
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <div class="row tipos">
             
              <h2 class="random-color rounded"  [style.backgroundColor]="getRandomColor()" >{{ pokemonSeleccionado.tipos_nombre[0]}}</h2>
              <h2 class="random-color rounded"  [style.backgroundColor]="getRandomColor()" >{{ pokemonSeleccionado.tipos_nombre[1]}}</h2>

            </div>

            </div>
          </main>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
