<div class="left-side">
<aside class="sidebar">
    <div class="sidebar__header">
        <a href="#home">
            <div class="sidebar__brand">
                <img class="logo" src="../../../assets/img/pokemon-logo.webp" alt="Pokémon Logo">
            </div>  
        </a>
    </div>
    <div class="sidebar__menu">
        <ul class="menu">
          <li class="menu__item" routerLinkActive="active">
            <a routerLink="/InicioComponent" title="Inicio" class="menu__link">
              <i class="menu__icon bi bi-house-door"></i>
              <span class="menu__text">Home</span>
            </a>
          </li>
          <li class="menu__item" routerLinkActive="active">
            <a routerLink="/ConsultaComponent" title="Pokédex" class="menu__link">
              <i class="menu__icon bi bi-record-circle"></i>
              <span class="menu__text">Pokédex</span>
            </a>
          </li>
          <li class="menu__item" routerLinkActive="active">
            <a href="#favorites" title="Favoritos" class="menu__link">
              <i class="menu__icon bi bi-heart"></i>
              <span class="menu__text">Favorites</span>
            </a>
          </li>
        </ul>
      </div>
      
    <div class="sidebar__footer">
    </div>
</aside>
</div>
